@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="navbar-right" asp-area="" asp-controller="Account" asp-action="Logout"
          id="logoutForm" method="post">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a  id="registerLink" asp-controller="Account" asp-action="Register">
                <span class="glyphicon glyphicon-registration-mark text-info"></span>&nbsp;Register
            </a>
        </li>
        <li>
            <a  id="loginLink" asp-controller="Account" asp-action="Login">
                <span class="glyphicon glyphicon-log-in text-info"></span>&nbsp;Log in
            </a>
        </li>
    </ul>
}
